/* Aviod navigation section hidding by the header. */
#wrapper>.nav {
    padding-top: 70px;
}

/* Change file input button into bootstrap style. */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
/* Token styles. */
token[importance=fatal]      { color: #FF0000; font-weight: bold; }
token[importance=important]  { color: #FF0000; }
token[importance=negligible] { opacity: 0.7; }
token[importance=useless]    { opacity: 0.4; font-weight: lighter; }
token[affect=positive]       { }
token[affect=negative]       { text-decoration: line-through; }
token:hover                  { background-color: #CCCCCC; }
