/* Aviod navigation section hidding by the header. */

html, body {
  height: 100%;
}

#wrapper {
  padding-top: 70px;
  min-height: 100%;
}

#header {
  padding: 20%;
}

#main {
  overflow:auto;
  padding-bottom:30px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -20px; /* negative value of footer height */
  height: 20px;
  clear:both;
  padding-top:20px;
}

.center {
  text-align:center;
}

/* Change file input button into bootstrap style. */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/* Advanced options panel. */
#advopt-panel {
  padding-top: 20px;
}

.content-display {
  /* white-space: pre-wrap; */
}

/* Remove button focus border. */
a:focus, button:focus { outline:0; }

/* Token styles. */
token[importance=fatal]      { color: #FF0000; font-weight: bold; }
token[importance=important]  { color: #FF0000; }
token[importance=negligible] { opacity: 0.7; }
token[importance=useless]    { opacity: 0.4; font-weight: lighter; }
token[affect=positive]       { }
token[affect=negative]       { text-decoration: line-through; }
token:hover                  { background-color: #CCCCCC; }

error {
  font-weight: bold;
  white-space: nowrap; 
}
error:hover                  { background-color: #CCCCCC; }
error[state=incorrect]       { color: #FF0000; }
error[state=corrected]       { color: #FF9933; }
error[state=checked]         { color: #33CC33; }

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}
